<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
<head><title>django-date-extensions</title>
<style type="text/css">
th { text-align: right; }
.error { color: #cc0000; }
.success { color: #006600; }
label {
    width: 6em;
    float: left;
    display: block;
    clear: left;
}
</style>
</head>
<body>
<h1>Example of DateField extensions</h1>

<p><a href="?near_future=february+3rd&near_past=25th+october&just_a_date=march+6,+1973&approximate=dec+1945">Prefill with some valid data</a>

<form method="get">

{% for field in form %}
<div>
    {{ field.label_tag }} {{ field }}
    <span class="error">{% for error in field.errors %}{{ error }}{% endfor %}</span>
    {% for key, value in form.safe_cleaned_data.items %}
        {% ifequal key field.html_name %}
            <span class="success">Parsed as: {{ value }}</span>
        {% endifequal %}
    {% endfor %}
</div>
{% endfor %}

<p><input type="submit" value="Submit"></p>
</form>

<p>Written by Matthew Somerville.</p>

</body>
</html>
