<html lang="en-gb">
<head><title>Form fields for VagueDate</title>
<style type="text/css">
th { text-align: right; }
.error { color: #cc0000; }
.success { color: #006600; }
label {
    width: 6em;
    float: left;
    display: block;
    clear: left;
}
</style>
</head>
<body>
<h1>Example of form fields for VagueDate</h1>

<p><a href="?text_input=dec+1945&numbers_input_0=1945&numbers_input_1=5">Prefill with some valid data</a>

<form method="get">

{% for field in form %}
<div>
    {{ field.label_tag }} {{ field }}
    <span class="error">{% for error in field.errors %}{{ error }}{% endfor %}</span>
    {% for key, value in form.safe_cleaned_data.items %}
        {% ifequal key field.html_name %}
            <span class="success">Parsed as: {{ value }}</span>
        {% endifequal %}
    {% endfor %}
</div>
{% endfor %}

<p><input type="submit" value="Submit"></p>
</form>

<p>Written by Matthew Somerville & Frank Sachsenheim.</p>

</body>
</html>
